<section class="list-section">
 <nav class='nav-bar'>
    <%= link_to :back do%>
      <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
    <% end %>
    <h4>Edit <%= resource_name.to_s.humanize %></h4>
    <h5><%= link_to 'Home', user_path(current_user)%></h5>
  </nav>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name' %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <i class="dark-color">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
        <% if @minimum_password_length %>
          <br />
          <em class="dark-color"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation' %>
      </div>

      <div class="field">
        <i class="dark-color">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current password' %>
      </div>

      <div class="field dark-color">
        <b><%= f.label 'Upload profile Image'%></b><br>
        <%= f.file_field :image%>
      </div>

    <div class="actions btn new-item" style="position: relative">
      <%= f.submit "Update", class: 'inner-btn' %>
    </div>
  <% end %>

  <h3 class="dark-color">Cancel my account</h3>

  <p class="dark-color">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'inner-btn delete-item' %></p>

</section>
