<section class="list-section">
  <nav class='nav-bar'>
    <h2>Sign up</h2>
  </nav>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <section class="form-section">
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name' %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email' %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em class="dark-color">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password' %>
      </div>

      <div class="field dark-color">
        <b><%= f.label 'Upload profile Image'%></b><br>
        <%= f.file_field :image %>
      </div>

      <h5><%= render "devise/shared/links" %></h5>

    </section>

    <div class="actions btn new-item">
      <%= f.submit 'Sign up', class: 'inner-btn' %>
    </div>
  <% end %>
</section>
