<p id="notice"><%= notice %></p>

<section class="list-section">
  <nav class='nav-bar'>
      <%= link_to user_path(current_user) do%>
        <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
      <% end %>
      <h5>GROUPS</h5>
      <h5><%= link_to 'Home', user_path(current_user)%></h5>
  </nav>

    <div class='totals'>
      <b>Total amount spent</b>
      <h4>$<%= get_my_sum(@books, 'amount')%></h4>
    </div>

    <div class='totals'>
      <b>Total reading time</b>
      <h4><%= get_my_sum(@books, 'time')%> hrs</h4>
    </div>

    <% @groups.each do |group|%>
      <%= link_to group_path(group) do %>
        <div class="list-item">

          <%= display_group_image(group, '/assets/group2.png') %>

          <div class="list-item-details name-date">
            <p><%= group.name %></p>
            <small><%= group.created_at.strftime("%B %d, %Y") %></small>
          </div>

          <div class="list-item-details meta-details">
            <h4>$<%= get_my_sum(group.books.where_id_is(current_user.id), 'amount') %></h4>
            <h4><%= get_my_sum(group.books.where_id_is(current_user.id), 'time')%> hrs</h4>
          </div>
        </div>

        </div>
      <% end %>
    <% end %>
    <br>
</section>

<div class='btn new-item'>
  <div class='inner-btn'>
    <b><%= link_to 'NEW GROUP', new_group_path %></b>
  </div>
</div>