<section class="list-section">
  <nav class='nav-bar'>
      <%= link_to groups_path do%>
        <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
      <% end %>
      <h5>GROUP</h5>
      <h5><%= link_to 'Home', user_path(current_user)%></h5>
  </nav>

  <h2 class='group-heading'><%= @group.name %></h2>

  <div class='totals'>
    <h5>Creator</h5>
    <h5><%= @group.user.name%></h5>
  </div>  

  <h5 class='group-heading'>Books: </h5>

  <% @group.books.each do |book|%>
        <div class="list-item">

        <div class="list-item-details group-name-date">
            <h4>'<%= book.name %>'</h4>
            <small>Bought by: <span><%= book.author.name %></span></small>
          </div>
        </div>

        </div>
  <% end %>
    <br>
</section>

<%= display_edit_delete('change') %>
