<%= form_with(model: book, local: true) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true, autocomplete: 'true'%>
  </div>

  <div class="field">
    <%= f.label :book_author%>
    <%= f.text_field :book_author, autocomplete: 'true'%>
  </div>

  <div class="field">
    <%= f.label "Cost"%>
    <%= f.number_field :amount, max: 9999, autocomplete: 'true'%>
  </div>

  <div class="field">
    <%= f.label "Time in hours"%> 
    <%= f.number_field :time, max: 9999, autocomplete: 'true'%>
  </div>

  <%= collection_check_boxes(:book, :group_ids, Group.all, :id, :name) do |g| %>
  <%= g.label {g.check_box + g.text} %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
