<p id="notice"><%= notice %></p>
<section class='list-section'>
  <nav class='nav-bar'>
      <%= link_to user_path(current_user) do%>
        <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
      <% end %>
      <h5>UNGROUPED BOOKS</h5>
      <h5><%= link_to 'Home', user_path(current_user)%></h5>
  </nav>


    <div class='totals'>
      <b>Total ungrouped amount</b>
      <h4>$<%= @total_amount %></h4>
    </div>

    <div class='totals'>
      <b>Total ungrouped time</b>
      <h4><%= @total_time %> hrs</h4>
    </div>

    <% @books.each do |book|%>
      <%= link_to book_path(book) do %>
        <div class="list-item">

          <div class="image-div" style="background-image: url(/assets/ungrouped3.jpg)">
          </div>

          <div class="list-item-details name-date">
            <p><%= book.name %></p>
            <small><%= book.created_at.strftime("%B %d, %Y") %></small>
          </div>

          <div class="list-item-details meta-details">
            <h4>$<%= book.amount %></h4>
            <h4><%=book.time%> hrs</h4>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
</section>

